footer {
    background-color: var(--bkg-1);
}

.footer--contain {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 50px;
}

.footer--part {
    margin: 30px;
}

footer h3 {
    font-size: var(--font-size-4);
    font-weight: var(--weight-bold);
}

footer li {
    font-size: var(--font-size-5);
    line-height: 2em;
}

@media screen and (max-width:768px) {

    .footer--contain {
        display: initial;
        width: 100%;
        margin: 30px;
    }
}

@media screen and (max-width:576px) {
    .footer--part {
        margin: 30px 10px;
    }
}