/* Breakpoints	Bootstrap
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */

body {
    max-width: 2200px;
    margin: auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 20px;
}
@media screen and (max-width:2050px){
    #contain{
        width: 95%;
        margin: auto;
    }
    }

    @media screen and (max-width:768px){
        #contain{
            width: 100%;
        }
    }
header {
    margin-top: 20px;
}

section {
    margin: 40px 20px;
}

@media screen and (max-width:575px) {
    section {
        margin: 20px 10px;
    }
}

h3,
h4,
h5,
h6 {
    margin-block-start: inherit;
    margin-block-end: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
figure{
    margin-inline-start: inherit;
    margin-inline-end: inherit;
    margin-block-start: inherit;
    margin-block-end: inherit;
    margin: 8px;
}
figcaption{
    margin-left: 20px;
    font-weight: var(--weight-bold);
  }
img {
    object-fit:cover;
}
/* body * {
    border: 1px red solid;
} */