/* Breakpoints	Bootstrap
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
strong,
b,
u,
i,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
figure,
figcaption,
footer,
menu,
nav,
output,
section,
mark {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
header{
    margin-top: 10px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body *{
    border: 1px red solid;
}


