/* Breakpoints	Bootstrap
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */

/* *********** Communs aux Blocs Hébergements + Populaires *********** */
#blocs-heb-pop {
    display: flex;
    gap: 20px
}

#blocs-heb-pop h2,
#read-more {
    margin-left: 60px;
    font-weight: var(--weight-bold);
}

#blocs-heb-pop .fas.fa-star.selected {
    color: var(--color-2);
}

#blocs-heb-pop .fas.fa-star {
    color: var(--color-5);
}

#bloc-heb,
#bloc-pop {
    background-color: var(--bkg-1);
    border-radius: var(--radius-frame-bloc);
}

/* *********** Bloc Hébergements *********** */
#bloc-heb {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    padding: 60px 0;
}

#bloc-heb-thumbnails {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heb-thumbnail-frame {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-radius: var(--radius-thumbnail-ext);
    box-shadow: var(--box-shadow);
    background-color: white;
    margin: 20px;
}

.heb-thumbnail-frame figure {
    width: 400px;
}

.heb-thumbnail-frame img {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: var(--radius-thumbnail-int) var(--radius-thumbnail-int) 0 0;
}

.heb-thumbnail-frame figcaption p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.star-rating li {
    display: inline;
}

/* *********** Bloc Populaires *********** */
#bloc-pop {
    width: 30%;
    padding-top: 60px;
}

#bloc-pop-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pop-thumbnail-frame {
    display: flex;
    width: 550px;
    height: 265px;
    border-radius: var(--radius-thumbnail-ext);
    box-shadow: var(--box-shadow);
    background-color: white;
    margin: 20px auto;
}

.pop-thumbnail-frame figure {
    display: flex;
    margin: 8px;
}

.pop-thumbnail-frame img {
    width: 250px;
    height: 250px;
    border-radius: var(--radius-thumbnail-int) 0 0 var(--radius-thumbnail-int);
}

@media screen and (max-width:2050px) {
    #blocs-heb-pop {
        flex-direction: column-reverse;
        align-items: center;
    }

    #bloc-heb,
    #bloc-pop {
        width: 90%;
    }

    #bloc-pop-thumbnails {
        display: flex;
        justify-content: center;
    }

    .pop-thumbnail-frame {
        margin: 20px;
    }
}

@media screen and (max-width:1600px) {
    #bloc-pop-thumbnails {
        flex-wrap: wrap;
    }

    #blocs-heb-pop h2 {
        margin: 20px auto;
    }

    #bloc-pop-title {
        flex-direction: column;
    }
}

@media screen and (max-width:1400px) {

    #bloc-heb,
    #bloc-pop {
        width: 80%;
    }

    .pop-thumbnail-frame,
    .heb-thumbnail-frame {
        width: 100%;
        display: block;
    }

    .heb-thumbnail-frame figure {
        width: auto;
    }
}

@media screen and (max-width:768px) {

    #bloc-heb,
    #bloc-pop {
        width: 100%;
    }

    .pop-thumbnail-frame,
    .heb-thumbnail-frame {
        width: 100%;
    }

    .pop-thumbnail-frame {
        height: 200px;
    }

    .pop-thumbnail-frame img {
        width: 40%;
        height: 185px;
    }
}

@media screen and (max-width:576px) {
    h1 {
        font-size: var(--font-size-2);
        text-align: center;
    }

    #blocs-heb-pop {
        margin: 40px 0;
    }

    #blocs-heb-pop h2 {
        font-size: var(--font-size-3);
        margin: 20px 0;
    }

    #bloc-heb,
    #bloc-pop {
        padding: 0;
    }

    #bloc-heb {
        background-color: initial;
        width: 90%;

    }

    #bloc-pop {
        padding: 0;
    }

    #bloc-pop-title {
        flex-direction: initial;
    }

    #bloc-pop-title span {
        margin-right: 20px;

    }

    .heb-thumbnail-frame {
        border: 3px solid var(--color-1);
        margin: 20px 0;
    }

    .heb-thumbnail-frame figure {
        width: 100%;
        margin: 3px;
    }

    .heb-thumbnail-frame img {
        width: 98%;
        height: 200px;
    }
}

@media screen and (max-width:370px) {

    #bloc-pop figcaption,
    #bloc-heb figcaption {
        font-size: var(--font-size-6);
    }

    .pop-thumbnail-frame {
        height: 145px;
    }

    .pop-thumbnail-frame img {
        height: 130px;
    }
}