/* Breakpoints	Bootstrap
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */

/* *********** Blocs Hébergements + Populaires *********** */
#blocs-heb-pop {
    display: flex;
    gap: 20px
}

/* *********** Bloc Hébergements *********** */
#bloc-heb {
    background-color: rgb(182, 229, 182);
    height: 700px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heb-thumbnail-frame {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border:2px solid var(--color-1);
    border-radius: var(--radius-thumbnail-ext) var(--radius-thumbnail-ext) 0 0;
}

.heb-thumbnail-frame img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: var(--radius-thumbnail-ext) var(--radius-thumbnail-ext) 0 0;
}

.heb-thumbnail-bottom {
    padding-left: 15px;
    margin-top: -10px;
}

/* .star-rating {
    margin: -10px 0;
} */

.star-rating li {
    display: inline;
    margin: 0 3px;
}

/* *********** Bloc Populaires *********** */
#bloc-pop {
    background-color: rgb(12, 36, 103);
    height: 700px;
    width: 35%;
}